@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  font-family: 'Roboto Mono', cursive;
  background-color: #333333;
}

.container {
  width: 100%;
  padding-top: 150px;
  font-size: 20px;
  display: flex;
}

.list {
  width: 63%;
}

.side {
  width: 38%;
  justify-content: center;


}
.addcon{
  
}

.ct{
  position: fixed;
}